/* The switch - the box around the slider */
.checkbox {
  display: flex;
  gap: 8px;
  align-items: center;

  &__text {
    color: #1a1a1a;
    font-family: SF Pro Display;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.3px;
  }

  &__switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }

  /* Hide default HTML checkbox */
  &__switch &__input {
    display: none;
  }

  /* The slider */
  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  &__slider:before {
    position: absolute;
    content: '';
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  &__input:checked + &__slider {
    background-color: #2196f3;
  }

  &__input:focus + &__slider {
    box-shadow: 0 0 1px #2196f3;
  }

  &__input:checked + &__slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
  }

  /* Rounded sliders */
  &__slider.round {
    border-radius: 34px;
  }

  &__slider.round:before {
    border-radius: 50%;
  }
}
